<%= provide(:title, "Help")%>
<h1><%t(:help)%></h1>
<p>
  <%=t("help_page.get_help")%>
  <a href="http://www.railstutorial.org/help"><%=t("help_page.rails_help")%></a>.
  <%=t("help_page.to_help")%>
  <a href="http://www.railstutorial.org/book"><em><%=t(:rails)%></em> book</a>.
</p>
